@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    background-color: rgb(22, 22, 22);
    scroll-behavior: smooth;
}

ol
{
    margin-left: 15%;
    margin-right: 15%;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(222,222,222);
}

p
{
	text-align: justify;
	font-size: 110%;
}

li
{
	font-size: 110%;
}

h3
{
	margin-top: 50px;
	margin-bottom: 50px;
}

.content
{
	margin-left: 0%;
	margin-right: 0%;
	background-color: rgb(222,222,222);
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 25px;
	padding-top: 5px;
	border-radius: 10px;
}

h1
{
	text-align: center;
	color: rgb(222,222,222);
}

img
{

}

.right
{
    float: right;
    padding-right: 25px;
}

.left
{
    float: left;
    padding-left: 25px;
}
.center
{
	float: center;
	width: 13%;
	background-color: rgb(222,222,222);
	padding-right: 100px;
	padding-left: 100px;
	border-radius: 40px;
	font-size: 90%;
	text-align: center;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover{
	text-decoration: underline;
}
.centeri 
{
      text-align: center;
}

.kozepeles
{
    float: left;
    width: 33.33%;
    text-align: center;

}

.fixalas::after
{
    content: "";
    clear: both;
    display: table;
}